<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/spring.log}}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.example.trainsservice" level="DEBUG"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
</configuration>
